body {
    background-color: black;
    font-family: 'Oswald', sans-serif;
}

.game {
    display: flex;
    position: relative;
    width: 1700px;
    height: 810px;
    background-color: chocolate;
    margin-left: calc(85% - 1440px);
    margin-top: 25px;
}

.balance{
    display: flex;
    position: absolute;
    height: 50px;
    width: 580px;
    border: solid 2px black;
    margin: 6% 22%;
}

.balance div {
    border: solid 2px black;
    flex-grow: 1;
}

.weigth-color {
    background-color: gold;
}

.sleep {
    display: flex;
    position: absolute;
    height: 256px;
    width: 350px;
    margin: 15px 15px;
    align-content: space-around;
}

.squirrelIcon, .clawIcon{
    left: 30%;
}

.squirrels .slot, .newCards .slot {
    margin-left: 20px;
    border: none;
}

.sleep .card {
    border: solid black;
}

.sleep .slot{
    border: none;
}

.sleep .card:hover{
    border: solid red;
}

.squirrelIcon, .clawIcon {
    top: calc(50% - 32px);
    margin-left: calc(20% - 32px);
}


.card {
    position: absolute;
    display: flex;
    width: 144px;
    height: 256px;
    background-color: #f3c956;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
}

.redSelection {
    border: solid 5px #ff2121;
    margin-bottom: 25px;
}

.hand0 {
    border: solid 5px #ff2121;
}

.life {
    position: relative;
    align-self: flex-end;
    margin-right: 5px;
    flex-grow: 1;
    order: 2;
}

.heart {
    left: calc(100% - 50px);
    top: calc(100% - 50px);
    opacity: 75%;
}

.claw {
    transform: rotate(15deg);
    top: calc(100% - 55px);
    opacity: 50%;
}


.attack {
    position: relative;
    flex-grow: 1;
    order: 0;
    align-self: flex-end;
}

.cost {
    position: relative;
    flex-grow: 1;
    order: 1;
    align-self: flex-start;
    left: 48px;
    color: gold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.grid {
    display: flex;
    position: absolute;
    width: 618px;
    height: 810px;
    flex-wrap: wrap;
    align-content: space-between;
    margin-left: calc(95% - 618px);
}

.passTurn {
    position: absolute;
    display: block;
    background-color: gold;
    font-size: 40px;
    padding: 20px;
    margin-left: 35%;
    margin-top: 20%;
    border-radius: 35px;
    cursor: pointer;
}

.passTurn:hover {
    background-color: #fcdf3d;
}

.slot {
    border: solid black;
    width: 144px;
    height: 256px;
    margin-left: 4px;
}

.hand {
    display: flex;
    position: absolute;
    width: 950px;
    height: 350px;
    align-items: flex-end;
    top: calc(100% - 370px);
    left: 15px;
    /* border: solid red; */
}

.hand .slot {
    position: relative;
    border: 0;
    margin-left: 10px;
    /* border: solid red; */
}

.hand .slot:hover {
    margin-bottom: 25px;
}

.selectSlot {
    cursor: pointer;
    animation: selectionAnimation 2000ms infinite;
}

.attackAnime {
    animation: attackAnimation 500ms;
}

.attackAnimeEnemy {
    animation: attackAnimationEnemy 500ms;
}

@keyframes selectionAnimation {
    0% {
        border: solid black;
    }

    25% {
        border: solid red;
    }

    75% {
        border: solid  red;
    }

    100% {
        border: solid black;
    }
}

@keyframes attackAnimation {
    0% {
        margin-top: 0;
    }

    25% {
        margin-top: -20%;
    }

    50% {
        margin-top: -15%;
    }

    75% {
        margin-top: 10%;
    }

    100%{
        margin-top: 0;
    }
}

@keyframes attackAnimationEnemy {
    0% {
        margin-top: 0;
    }

    25% {
        margin-top: 20%;
    }

    50% {
        margin-top: 15%;
    }

    75% {
        margin-top: -10%;
    }

    100%{
        margin-top: 0;
    }
}
